<a href="/"><h1>Home</h1></a>
<form style="margin-top: 40px" action="/home/freedom" method="POST">
	<div class="form-group">
		<label for="exampleInputPassword1">제목</label>
		<input type="text" name="title" class="form-control" id="exampleInputPassword1" placeholder="제목을 입력해주세요">
	</div>
	<textarea class="form-control" rows="5" id="content" name="content" placeholder="내용을 입력해주세요"></textarea>
	</br>
	<button type="submit" class="btn btn-default">입력</button>
	<hr>
</form>
<% @posts.each do |p| %>
<div class="well">
	<span style="font-weight:bold;">
	제목: <%=p.title %></span>

	</br>
	내용: <%=p.content %><br>
	<hr>
	<% p.comments.each do |c| %> #댓글 <%=c.content %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%=c.created_at %></br>
	<% end %>
	<form style="margin-top: 40px" action="/home/freedom/comment_write" method="POST">
		<input type="hidden" value="<%=p.id %>" name="id_of_post"> <input type="text" name="content" class="form-control" id="exampleInputPassword1" placeholder="댓글을 입력해주세요">
		<br>
		<button type="submit" class="btn btn-default">입력</button>
	</form>
</div>
<% end %>
</div>